export(allmetap)
export(logitp)
export(meanp)
export(maximump)
export(minimump)
export(schweder)
export(sumlog)
export(sump)
export(sumz)
export(two2one)
export(votep)
export(wilkinsonp)
S3method(print,allmetap)
S3method(print,logitp)
S3method(print,meanp)
S3method(print,sumlog)
S3method(print,sump)
S3method(print,sumz)
S3method(print,votep)
S3method(print,maximump)
S3method(print,minimump)
S3method(print,wilkinsonp)
S3method(plot,metap)
importFrom("graphics", "abline", "plot")
importFrom("stats", "binom.test", "coef", "lm", "na.fail",
   "pbeta", "pchisq", "pnorm", "pt", "qbeta", "qnorm")
importFrom("utils", "read.csv")
importFrom("lattice", "xyplot")
